# ==========================================
# Fitness Platform - Environment Variables
# ==========================================

# ------------------------------------------
# PostgreSQL
# ------------------------------------------
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
DB_HOST=ip
DB_PORT=port
DB_USER=username
DB_PASSWORD=password
DB_NAME=db_name
DB_SSLMODE=ssl_mode_name

# ------------------------------------------
# Redis
# ------------------------------------------
REDIS_HOST=ip
REDIS_PORT=port
REDIS_ADDR=redis:port
REDIS_PASSWORD=password
REDIS_DB=0

# ------------------------------------------
# RabbitMQ
# ------------------------------------------
RABBITMQ_DEFAULT_USER=username
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_URL=URL

# ------------------------------------------
# JWT
# ------------------------------------------

JWT_SECRET=password

# ------------------------------------------
# Service Ports
# ------------------------------------------
USER_SERVICE_PORT=port
BIOMETRIC_SERVICE_PORT=port
TRAINING_SERVICE_PORT=port
GATEWAY_PORT=port
ML_CLASSIFIER_PORT=port
ML_GENERATOR_PORT=port

# ------------------------------------------
# Service Addresses (Docker internal)
# ------------------------------------------
USER_SERVICE_ADDR=port
BIOMETRIC_SERVICE_ADDR=port
TRAINING_SERVICE_ADDR=port

# ------------------------------------------
# ML Services
# ------------------------------------------
ML_CLASSIFIER_URL=URL
ML_GENERATOR_URL=URL
